@import url("https://fonts.googleapis.com/css2?family=Julius+Sans+One&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Sacramento&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;600&display=swap");

.main-form {
  margin-top: 10px;
  border-radius: 15px;
  font-family: "Montserrat", sans-serif;
  width: 50%;
  border: 1px dotted black;
  margin: auto;
  background-color: #d7ecd9;
  box-shadow: 1px 0px 20px 1px grey;
  margin-top: 10px;
  /* background-image: url(images/mint.jpeg); */
  opacity: 100%;
  text-align: justify;
}
.form-title {
  text-align: center;
}

.single-line-field-long {
  height: 1rem;
  width: 25rem;
  margin-bottom: 10px;
  margin-left: 10px;
  resize: none;
}
.single-line-field-med {
  height: 1rem;
  width: 20rem;
  margin-bottom: 5px;
  margin-left: 10px;
  resize: none;
}
.multi-line-field-long {
  overflow-y: scroll;
  margin-bottom: 5px;
  margin-left: 10px;
  resize: none;
  text-align: justify;
}
.few-line-field-long {
  overflow-y: scroll;
  margin-bottom: 5px;
  margin-left: 10px;
  resize: none;
}
.check {
  margin-right: 15px;
}

.other-desc {
  margin-left: 20px;
  padding: 0px;
}

.field-button {
  border-radius: 100px;
  padding: 10px;
  padding-top: 23px;
  font-family: "Montserrat", sans-serif;
  font-weight: 300;
  box-shadow: 1px 0px 20px 1px grey;
  margin-top: auto;
  margin-bottom: auto;
  color: snow;
  font-weight: 800;
  display: flex;
  flex-direction: row;
  width: 30%;
}
.field-area {
  padding: 1px;
  margin: 0px;
  text-align: left;
}
textarea {
  width: 80%;
  height: 100%;
}

label {
  margin-left: 10px;
  font-weight: 600;
  padding: 0px;
}
h4 {
  margin-left: -10px;
  margin-bottom: 0px;
  padding: 0px;
  width: 100%;
}

.submit-button {
  height: 3rem;
  width: 80%;
  background-color: rgb(17, 5, 97);
  color: white;
  margin: 20px auto;
  display: block;
  padding: 5px;
}
.submit-button:hover {
  background-color: rgb(13, 63, 228);
  color: white3;
}
.submit-button:active {
  background-color: rgb(109, 109, 252);
  box-shadow: 0 2px #666;
  transform: translateY(2px);
}
input[type="text"]:focus {
  background-color: lightblue;
}

.padding {
  padding: 2% 2%;
}

.bio-resource {
  margin-top: 20px;
}
